<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con la subscripcion a MERCEDEZ BENZ CLUB, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2> Mercedez club beneficios</h2>
                    <p>Solo por estar registrado en MERCEDEZ BENZ CLUB tenes rueda de auxilio gratis en tu coche. Es un
                        beneficio de Mercedez club.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No se te rompe? Normal! En MERCEDEZ BENZ, no hay nada que no puedas hacer, porque estás
                        siempre protegido con nuestra seguridad automotriz.</p>
                </article>
            </div>
        </div>
    </div>
</footer>