<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/PrograII/proyectoIntegrador/public/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/PrograII/proyectoIntegrador/public/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/pHeaderLogueado', { user } ) %> <!-- lo mismo que en el profile, lo camnbio para que se remplace dinamicamente -->
	<!-- /Header -->
	>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product/producto/agregar" method="get" enctype="multipart/form-data">
				<div>
				  <label for="imagen">Imagen del producto:</label>
				  <input type="file" id="imagen" name="imagen" required>
				</div>
			  
				<div>
				  <label for="nombre">Nombre del producto:</label>
				  <input type="text" id="nombre" name="nombre" required>
				</div>
			  
				<div>
				  <label for="descripcion">Descripción:</label>
				  <textarea id="descripcion" name="descripcion" required></textarea>
				</div>
			  
				<button type="submit">Agregar producto</button>
			  </form>




	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>