<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<%- include('partials/pHeaderLogueado', { user }) %> <!-- le paso al archivo partial la variable (user) que esta en el controlador (nombre de usuario)-->
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/default-image.png" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= user.nombre %> <!-- cambio aca para que se vea el nombre 2) a) ??-->
						<a href="profile-edit.html">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.email %></li>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/1">
						<figure class="product-box_image">
							<img src="/images/products/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Cafetera Moulinex</h2>
							<p>Cafetera roja</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/2">
						<figure class="product-box_image">
							<img src="/images/products/img-macbook-pro-2019.jpg" alt="Mac">
						</figure>
						<article class="product-box_data">
							<h2>Macbook pro 2019</h2>
							<p>Mac Book gris ideal para el trabajo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/3">
						<figure class="product-box_image">
							<img src="/images/products/img-samsung-galaxy-s10.jpg" alt="S10">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy S10</h2>
							<p>Samsung Galaxy S10 moderno para el uso diario</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/4">
						<figure class="product-box_image">
							<img src="/images/products/img-tv-samsung-smart.jpg" alt="tv">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Smart</h2>
							<p>Television de 80 pulgadas ideal para tu casa</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/5">
						<figure class="product-box_image">
							<img src="/images/products/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Cafetera Moulinex</h2>
							<p>Cafetera roja</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/6">
						<figure class="product-box_image">
							<img src="/images/products/img-macbook-pro-2019.jpg" alt="Mac">
						</figure>
						<article class="product-box_data">
							<h2>Macbook Pro 2019</h2>
							<p>Computadora ideal para el trabajo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/7">
						<figure class="product-box_image">
							<img src="/images/products/img-samsung-galaxy-s10.jpg" alt="S10">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy S10</h2>
							<p>Telefono moderno ideal para el uso diario</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/8">
						<figure class="product-box_image">
							<img src="/images/products/img-tv-samsung-smart.jpg" alt="tv">
						</figure>
						<article class="product-box_data">
							<h2> Samsung Smart</h2>
							<p>Television de 80 pulgadas ideal para tu casa</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>